
.UserProfil {padding: 9px 15px !important;}

.UserProfil img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #263E71;
}

.postFormWrapper {padding: 5px;margin: 5px;overflow: hidden;}

.postform {
    float: left;
    width: 50%;
    background-color: white;
    border: 1px solid #ddd;
    color: #555;
    padding-bottom: 10px;
    min-width: 470px;
    margin-right: 1px;
}

/* ----- tabs  ------*/
.postType{
    padding: 0px;
    margin: 0px;
}

.postType li {
    list-style: none;
    float: left;
    margin: 0px 10px;
}

.postType li a {
    padding: 5px 15px;
    color: #4E5665;
    outline: 0;
}

.postType li a:hover,.postType li a:focus,.postType li a:active{
    text-decoration:none;
}

.postTypeActive {
    border-bottom: 3px solid #3B5997;
}

/* Post as */
.postAs img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.postAs {
    float: right;
    padding: 0px 10px;
    display: block;
}


/* --- post Preview  ---*/
.wpost .message {
    margin: 15px 0px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.wpost .name {
    font-size: 19px;
    padding: 10px 15px;
    margin: 0px;
}

.PreviewPoster {
    margin: 10px 0px;
}

.previewPoster .userFullName {
    clear: right;
    display: block;
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

.PreviewPoster img {
    float: left;
    margin: 0px 5px 5px 0px;
    width: 40px;
    height: 40px;
}

.postPreviewDetails {
    margin: 5px 0px;
    display: block;
    color: #9197a3;
    font-size: 12px;
}

.defaultMessage{
    background-color: #eee;
    height: 25px;
    width: 60%;
    display: block;
    float: left;
    margin-bottom: 5px;
}

.defaultName {
    background-color: #ededed;
    height: 20px;
    width: 82%;
    display: block;
    margin-top: 10px;
}

.defaultDescription {
    background-color: #eee;
    height: 3px;
    width: 100%;
    display: block;
    float: left;
    margin: 2px 0px;
}

.defaultCaption {
    background-color: #eee;
    height: 5px;
    width: 70px;
    display: block;
    float: left;
    margin: 2px 5px;
}

.wpost {
    overflow: hidden;
    background-color: white;
    margin: auto;
}

.row.scheduledpost .row {
    padding:  5px 0px;
}

.row.scheduledpost {
    margin: 10px;
    background: #EEEEEE;
    border-left: 5px solid #3A5795;
    padding: 10px 0px;
}

.previewPostLink {
    color: #141823;
    text-decoration: none !important;
}

.postDetails {
    overflow: hidden;
    border: solid 1px #ededed;
    border-top: none;
}

.picture {
    height: 300px;
    overflow: hidden;
}

.wpost .picture {
    width: 100%;
    border: 1px solid #ededed;
}

.wpost .description {
    padding: 5px 15px;
    margin: 0px;
}

.wpost .caption {
    float: left;
    padding: 10px 15px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #9197a3;
    font-family: helvetica, arial, sans-serif;
    margin: 0px;
}
.postStatus{float: right;padding: 0px 10px;}

.postingStatus {
    padding: 5px;
    overflow: hidden;
}

.previewLink {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    clear: both;
    border: 1px solid #ededed;
    max-height: 300px;
    overflow: hidden;
}

.previewLink iframe,.previewLink video  {
    height: 100%;
    width: 100%;
}

.previewLink img{
    height: 100%;
}

#postForm .messageBox {
    margin: 13px 0px;
    display: block;
}

.postingDetails {
    float: left;
    padding: 9px;
}

.postingSuccess td{
    background-color: rgb(191, 214, 188);
}

.postingError td{background-color: #FFCDCD;margin: 1px;padding: 5px 10px;}
.postingError .postStatus{color : red;}


